<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="./lib/vue.js"></script>
    </head>
    <body>
        <div id="app">
            <input type="text" v-model="n1">
            <select v-model="opt" id="">
                <option value="+">+</option>
                <option value="-">-</option>
                <option value="*">*</option>
                <option value="/">/</option>
            </select>
            <input type="text" v-model="n2">
            <input type="button" @click="calc" value="=">
            <input readonly type="text" v-model="result">
        </div>
        <script>
            var vm = new Vue({
                el: '#app',
                data: {
                    n1:0,
                    n2:0,
                    opt:'-',
                    result:0
                },
                methods:{
                    calc(){
                        switch(this.opt){
                            case '+' : 
                            this.result = parseInt(this.n1) + parseInt(this.n2)
                            break;
                            case '-' : 
                            this.result = parseInt(this.n1) - parseInt(this.n2)
                            break;
                            case '*' : 
                            this.result = parseInt(this.n1) * parseInt(this.n2)
                            break;
                            case '/' : 
                            this.result = parseInt(this.n1) / parseInt(this.n2)
                            break;
                        }
                        //投机取巧的方法 eval()将字符串进行解析,将解析结果返回
                        /* var str =  `parseInt(this.n1) ${this.opt} parseInt(this.n2)`
                        this.result = eval(str) */
                    }
                }
            })
        </script>
    </body>
</html>